<div class='container'>
  <div class='center'>
    <h1 id="count"> <%= @count %></h1>  
    <button id="record">Record</button>
    <div class="line"></div>
  </div>
  <div id="list">
    <% @times.each do |time| %>
    <h2><%= time.number %></h2>
    <% end %>
  </div>
</div>
