h1 {
  font-size: 80px;
  width: 120px;
  padding-top: 10px;
  text-align: center;
  border: 6px solid white;
  color: red;
  font-family: Orbitron;
  text-shadow: 2px 2px 5px black;
  margin: 0 auto;
  margin-top: 30px;
}

h2 {
  display: inline-block;
  margin: 20px;
}

body {
  background: #4E4E4E;
  font-family: Open Sans Condensed;
  color: white;
}

.line {
  border: 2px solid black;
}

button {
  display: inline-block;
  color: black;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  height: 92px;
  width: 92px;      
  margin: 30px;  
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  text-align: center;
}

button:hover {
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color: red;
}

.center {
  text-align: center;
  margin: 0 auto;
}
